<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934596186363-t347v3rs23q0rsbh08mg4thup4u9p3mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934596186363-t347v3rs23q0rsbh08mg4thup4u9p3mq</string>
	<key>API_KEY</key>
	<string>AIzaSyAoQcvEor0MkKYMeArUTzwBr2qDT3OcD-k</string>
	<key>GCM_SENDER_ID</key>
	<string>934596186363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myap-7e2ae</string>
	<key>STORAGE_BUCKET</key>
	<string>myap-7e2ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934596186363:ios:866476bfefde4a8d4ee05e</string>
</dict>
</plist>